body{
    background-image: url(MV-Agusta-F4-RC-2015-1680x1050-008.jpg);
}
.container{
    width: 600px;
    height: 600px;
    margin-top: 100px;
    background-color: tan;
    opacity: .8;
    border: solid 2px brown;
}
#start{
    opacity: 1;
    border: solid 1px black;
}
#show-number{
    width: 60px;
    align-content: center;
    line-height: 30px;
    font-size: 18px;
    color:white;
    border: solid 1px black;
}
.row{
    line-height: 30px;
    opacity:1;
    color: darkgreen;
    font-size: 25px;
}
#question{
    line-height: 30px;
    opacity:1;
    color: darkmagenta;
    font-size: 25px;
}
#q{
    width: 500px;
    height: auto;
}
.btn-primary{
    border: solid 1px black;
}